@import "../assets/icomoon/style.css";
@font-face {
  font-family: Avenir;
  src: url(../assets/font/AvenirNextRoundedProMedium.TTF);
}

html {
  box-sizing: border-box;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Avenir;
  height: calc(var(--vH) * 100);
  -webkit-tap-highlight-color: transparent;
}
.img {
  width: 100%;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.uppercase {
  text-transform: uppercase;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
._align_center {
  align-items: center;
}
._align_start {
  align-items: flex-start;
}
._align_end {
  align-items: flex-end;
}
._justify_center {
  justify-content: center;
}
._justify_start {
  justify-content: flex-start;
}
._justify_end {
  justify-content: flex-end;
}
._justify_space-btwn {
  justify-content: space-between;
}
